*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container{
    width: 100wh;
    height: 100vh;
    background: linear-gradient(to right,rgba(226, 121, 191, 0.5), rgba(116, 116, 212, 0.5));
    position: relative;
}

#inside_container{
    font-family: 'Roboto', sans-serif;
    width: 40%;
    height: 30%;
    background: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: -1px -1px 20px 1px black,
                1px 1px 20px 1px black;
    text-align: center;
    padding: 20px;
}

#inner{
    display: flex;
    margin-top: 35px;
}

#temp_input{
    margin-left: 10px;
    width: 80%;
    outline: none;
    display: inline-block;
    border-radius: 1px;
}


#converter_btn{
    margin: 10px auto;
    background: darkgoldenrod;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 10%;
    padding: 10px;
}

h3{
    margin-right: 25px;
}

p{
    width: 50px;
    height: 20px;
    /* border: 2px solid red; */
}

#btn{
    border: unset;
    margin: unset;
    outline: none;
    cursor: pointer;
    background: white;
}
